body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    margin: 0;
    padding: 20px;
}

.container {
    display: flex;
    max-width: 1000px;
    margin: auto;
    background: white;
}

/* Cột trái: 30% */
.sidebar {
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
}

/* Cột phải: 70% */
.main-content {
    flex: 70%;
    padding: 20px;
}

/* Tạo các ô màu xám cho hình ảnh */
.img-placeholder {
    background-color: #aaa;
    width: 100%;
    height: 60px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.big-img-placeholder {
    background-color: #aaa;
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
